.divFixed {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0); /* Black background with opacity */
    z-index: 2;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divAlert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 10px 10px 13px 0px rgba(71,71,71,1);
    -moz-box-shadow: 10px 10px 13px 0px rgba(71,71,71,1);
    box-shadow: 10px 10px 13px 0px rgba(71,71,71,1);
    margin-bottom: 200px;
}

/*^^^^ ABSOLUTNIE DO POPRAWKI!!!*/

.text {
    color: black;
    font-size: 20px;
    text-align: center;
    max-width: 200px;
    margin: 0;
    padding: 10px;
}

.button {
    height: 40px;
    width: 100px;
    min-height: initial;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
    background-color: #36b03c;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #3abd41;
    cursor: pointer;
}

.divAlert div {
    text-align:center;
}

.button1 {
    height: 40px;
    width: 100px;
    min-height: initial;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: #36b03c;
    border: none;
    border-radius: 5px;
}

.button1:hover {
    background-color: #3abd41;
    cursor: pointer;
}

.button2 {
    height: 40px;
    width: 100px;
    min-height: initial;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: #b03d25;
    border: none;
    border-radius: 5px;
}

.button2:hover {
    background-color: #bd4028;
    cursor: pointer;
}