.buttonsContainer {
    display: flex;
    justify-content: space-evenly;
}

.affirmative {
    min-height: initial;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    color: white;
    background-color: #36b03c;
    border: none;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .affirmative:hover:enabled {
        background-color: #3abd41;
        cursor: pointer;
    }

    .affirmative:disabled {
        background-color: #3abd41;
        cursor: default;
    }

.dismissive {
    min-height: initial;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    color: white;
    background-color: #ac3020;
    border: none;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .dismissive:hover:enabled {
        background-color: #bd4028;
        cursor: pointer;
    }

    .dismissive:disabled {
        background-color: #b44a2a;
        cursor: default;
    }

.back {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #fcb203;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .back:hover {
        background-color: #fec20b;
    }

    .back img {
        height: 30px;
    }

.save {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #36b03c;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .save:hover {
        background-color: #3abd41;
    }

    .save img {
        height: 50px;
    }

.cancel {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #ac3020;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .cancel:hover {
        background-color: #bd4028;
    }

    .cancel img {
        height: 70px;
    }