.header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: #898989;
    color: white;
}

.siteName {
    margin-left: 30px;
    cursor: default;
}

.optionsWrapper {
    cursor: default;
    margin-right: 15px;
}

.options {
    margin-right: 15px;
    cursor: pointer;
}

    .options:hover {
        text-decoration: underline;
    }

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: #898989;
    color: white;
    align-items: center;
}

    .footer p {
        font-size: 14px;
        margin-left: 10px;
    }