/*
    table
    tr
    td
    td
    td
    tr
*/

.divTable {
    float: left;
    font-size: 20px;
    width: 350px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table {
    border: none;
    border-collapse: collapse;
    cursor: default;
    width: 100%; /*to tylko powoduje, że tabelka się nie przemieszcza o ten px, ale zmniejsza się canvas o px*/
}

.table thead tr:first-child {
    border-left: none;
}

.table td {
    border-right: 2px solid gray;
    height: 40px;
    text-align: center;
}

.table th {
    border-right: 2px solid gray;
    width: 65px;
}

table tr {
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
}

.table th:first-child {
    width: 40px;
}

.table tr:first-child {
    padding: 20px, 0;
}

.active {
    color: black;
}

.inActive {
    color: gray;
    width: 69px;
}

.inActiveColumns {
    background-color: #e1e1e1;
}

.cell {
    cursor: pointer;
    font-size: 20px;
    color: #a9a9a9;
    user-select: none;
    -moz-user-select: none;
}

.cell:hover {
    color: black;
    user-select: none;
    -moz-user-select: none;
}

.cellClicked {
    font-size: 20px;
    color: black;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
}

.cell3rd {
    cursor: default;
    font-size: 20px;
    color: #a9a9a9;
    user-select: none;
    -moz-user-select: none;
}