.container {
    width: /*1110px*/ 760px;
    height: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;
    align-content: space-between;*/
}

p {
    font-size: 18px;
}

.tile {
    width: 360px;
    height: 135px;
    border-radius: 0 0 20px 0;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-left: 20px;
}

    .tile[name= "WORK IN PROGRESS"] {
        border-radius: 0 0 20px 0;
    }

    .tile[name= "WIP1"] {
        border-radius: 0 0 20px 20px;
    }

    .tile[name= "WIP2"] {
        border-radius: 0 0 0 20px;
    }

    .tile[name="WIP3"] {
        border-radius: 0 20px 20px 0;
    }

    .tile[name="WIP4"] {
        border-radius: 20px 20px 20px 20px;
    }

    .tile[name="WIP5"] {
        border-radius: 20px 0 0 20px;
    }

    .tile[name="WIP6"] {
        border-radius: 0 20px 0 0;
    }

    .tile[name="WIP7"] {
        border-radius: 20px 20px 0 0;
    }

    .tile[name="WIP8"] {
        border-radius: 20px 0 0 0;
    }

.tile img {
    transition: all 0.5s ease-in-out;
}

    .tile:hover img {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
    }